.home-page {
    width: 200px ;
    height: 200px;
    background-color: rgb(165, 196, 190);

    border: 1px solid black;
    border-color: rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    padding: 50px 30px 10px 30px;
    gap: 10px;
}

.home-page h1 {
    font-size: 15px;
    text-align: center;

}

.home-page button {
    background-color: aquamarine;
    border-bottom: 0;
    border: 0;
}

.home-page button:hover{
    background-color: rgb(3, 207, 139);
    color:  white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0 ;
}

.home-page p {
    font-size: 10px;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 0 0 0 50px;
}

